.box-container {
  @extend .row;
  @extend .no-gutters;
  @extend .justify-content-center;
  @extend .px-4;
  flex-grow: 1;
}

.content-box {
  @extend .m-4;
  @extend .p-3;

  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  text-align: left;

  h3 {
    text-align: center;
  }
}

.wide-box {
  @extend .content-box;
  @extend .col;
}

.display-flex {
  display: flex;
}

// IE11 wants any height on the parent of a flex-grow, or it gets ignored
.ie11-zero-height-hack {
  height: 0;
}

#bg {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position-x: center;
  background-attachment: fixed;
  flex-grow: 1;
}

