$navbar-color-background: rgba(255, 255, 255, 0.5);
$navbar-color-active: rgba(255, 255, 255, 0.3);
$navbar-color-hover: rgba(255, 255, 255, 0.6);

$navbar-border-hover: 3px solid $navbar-color-hover;
$navbar-border-active: 3px solid $navbar-color-active;