body {
  @extend .text-dark;

  min-height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #fcfcfc;
}

a {
  @extend .text-dark;

  text-decoration: underline;
}

// The main boxes (about, download) on the home page
.main-box {
  @extend .m-4;
  @extend .p-3;

  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  text-align: left;

  // We flex the contents mainly so we can push the download form to the bottom of its box
  display: flex;
  flex-flow: column;

  // Allow comfortable two column layout
  flex: 0 0 35%;
  max-width: 35%;

  // Force one column layout on narrow screens
  @media only screen and (max-width: 760px) {
    flex: 0 0 85%;
    max-width: 85%;
  }

  h3 {
    text-align: center;
  }
}

// Labels that should be aligned with preceding text (e.g. for checkboxes after text)
.baseline-label {
  align-self: baseline;
}

#bg {
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  flex: 1;
}

#title {
  background-color: rgba(255, 255, 255, 0.4);
}

#download-form {
  margin-top: auto;
}

#footer {
  @extend .text-muted;

  text-align: center;
  background-color: #f0f0f0;

  a {
    @extend .text-muted;
  }
}
