@mixin rangeThumb {
  width: 16px;
  height: 16px;
  margin: -5px 0 0;
  background: #007bff;
  cursor: pointer;
  border: 0 !important;
}

@mixin rangeTrack {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #ced2d6;
}

.slider {
  position: relative;
  height: 5px;
}

.slider input {
  width: 100%;
  position: absolute;
  top: -6px;
  -webkit-appearance: none;
  z-index: 15;

  // Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none; // needed again for Chrome & Safari
    @include rangeThumb;
  }

  &::-moz-range-thumb {
    @include rangeThumb;
  }

  &::-ms-thumb {
    @include rangeThumb;

    margin: 0;
  }

  // Track
  &::-webkit-slider-runnable-track {
    @include rangeTrack;
  }

  &::-moz-range-track {
    @include rangeTrack;
  }

  &::-ms-track {
    @include rangeTrack;

    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #ced2d6;
  }
  &::-ms-fill-upper {
    background: #ced2d6;
  }

  &:focus { // override outline/background on focus
    background: none;
    outline: none;
  }
}

.slider-labels {
  font-size: 0.85rem;
  margin-top: 10px;
  color: #909090;

  div {
    &::before {
      position: absolute;
      top: -16px;
      content: "";
      width: 6px;
      height: 13px;
      background: #ced2d6;
      border-radius: 25%;
      z-index: 10;
    }
  }

  div.text-left::before {
    left: 0;
    @supports (-ms-ime-align:auto) {
      left: 4px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      left: 4px;
    }
  }

  div.text-center::before {
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  div.text-right::before {
    right: 0;
    @supports (-ms-ime-align:auto) {
      right: 4px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      right: 4px;
    }
  }
}